<!DOCTYPE html><head><title>Conkystador</title><link rel="shortcut icon" href="conkystador-logo.png"><link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'><link rel=stylesheet type="text/css" href="style.css"><body><h1>Quick and easy .conkyrc generator</h1>


<fieldset>
<div id='form1'>
<form>
<dl><dt><label>largeur de la bordure (en px)</label></dt><dd><input  type='number' name=border_margin></dd></dl><dl><dt><label>largeur des marges (en px):</label></dt><dd><input  type='number' name='border_width'></dd></dl><dl><dt><label>couleur par défaut:</label></dt><dd><input  type='color' name='default_color'></dd></dl><dl><dt><label>couleur de l'ombre:</label></dt><dd><input type=color name="default_shade_color "></dd></dl><dl><dt><label>Afficher des bordures autour du texte ?</label></dt><dd><input  type='checkbox' name='draw_borders' value='yes'>oui</dd></dl><dl><dt><label>Écart avec le bord droit/gauche de l'écran:</label></dt><dd><input  type='number' name='gap_x'></dd></dl><dl><dt><label>Écart avec le bord haut/bas de l'écran:</label></dt><dd><input required type='number' name='gap_y'></dd></dl>
<dl>
		<dt>
			<label>largeur max de la fenetre (en px)</label>
		</dt>
		<dd>
			<input  type='number' name='maximum_width'>
		</dd>
	</dl>
	<dl>
		<dt>
			<label>Taille minimale de la fenêtre</label>
		</dt>
		<dd>
			<input  type='number' name='minimum_size'>
		</dd>
	</dl>
	<dl>
		<dt>
			<label>Nombre total de rafraîchissement de Conky (0 infini)</label>
		</dt>
		<dd>
			<input  type='number' name='minimum_size'>
		</dd>
	</dl>
</form>
</div>

<div id='form2'>
	<form>
	<h2>Afficher:</h2>
	<dl><dt><label>le swap utilisé ?</label></dt><dd><input name='options'  type='checkbox' value='swap'>oui</dd></dl>

	<dl><dt><label>le nom du systeme ?</label></dt><dd><input name='options'  type='checkbox' value='$nodename - $sysname $kernel'>oui</dd></dl>

	<dl><dt><label>l'uptime ?</label></dt><dd><input name='options'  type='checkbox' value='$uptime'>oui</dd></dl>

	<dl><dt><label>le nom du systeme ?</label></dt><dd><input name='options'  type='checkbox' value='$nodename - $sysname $kernel'>oui</dd></dl>

	<dl><dt><label>les processus en cours ?</label></dt><dd><input name='options'  type='checkbox' value='Processus : $processes En cours : $running_processes'>oui</dd></dl>

	<dl><dt><label>les infos sur le cpu ?</label></dt><dd><input name='options'  type='checkbox' value='Core : $color${cpu cpu1}% ${cpubar cpu1} ${cpugraph}'>oui</dd></dl>

	<dl><dt><label>l'ip locale ?</label></dt><dd><input name='options'  type='checkbox' value='IP Locale: ${addr br0}'>oui</dd></dl>

	<dl><dt><label>Download ?</label></dt><dd><input name='options'  type='checkbox' value='Download : ${totaldown br0}'>oui</dd></dl>

	<dl><dt><label>upload ?</label></dt><dd><input name='options'  type='checkbox' value='${totalup br0}'>oui</dd></dl>
</form>
</div>



<input type='button' id='previous' value='precedent'>
<input type='button' id='next1' value='suivant'>

<textarea rows='20' cols='30' id='result'></textarea></fieldset>
<script src="http://code.jquery.com/jquery-latest.min.js"></script><script src="conkyrc.js"></script>